/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 80px;
    
}
nav{
    justify-content: space-between;
    align-items: center;
}  
h1{
    font-size: 80px;
    font-weight: bold;
    padding:50px 0; 
}
h2{
    font-weight: bold;
    font-size: 40px;
    
}
h3{
    font-weight: bold;
    font-size: 20px;
    
}
section{
    margin-top: 100px;
}
footer{
    background-color: #000;
}
img{
    display: block;
    max-width: 100%;
}
ul{
    list-style-type: none;
}
/*flex property*/
.flex{
    display: flex;
}
.j-c-c{
    justify-content: center;
}
.a-i-c{
    align-items: center;
}
.f-d-c{
    flex-direction: column;
}
.a-s-f-s{
    align-self:flex-start ;
}
/*buttons*/
.btn{
    display: inline-block;
    padding:10px 20px;
}
.small-btn{
    padding: 5px 10px;
}
.main-btn{
    color: #fff;
    background-color: #0061ff;
}
.secondary-btn{
    color: black;
    background-color: #fff;
}
/*header*/

.nav-left{
    
    flex-basis: 50%;
}
.nav-right{
    
    flex-basis: 50%;
    flex-direction: row-reverse;
}
header li{
    padding: 0 15px;
}
/*main*/

.container{
    max-width: 1200px;
    height:600px;
    margin: 0 auto;
    
}
.smaller-container{
    max-width: 1000px;
    margin: 20px auto auto;
    
}
.first-section{
    background-color: #B4D0E7;
    height: 710px;
}
.first-section-container{
    height: calc(100% - 220px);
    
}
.left-first-section{
    flex-basis: 30%;
    height: 100%;
    
}
.right-first-section{
    flex-basis: 70%;
    height: 100%;
    
}
.row{
    display: flex;
    column-gap: 50px;
    margin-top: 30px;
}
.column{
    min-height: 700px;
    flex-basis: calc(100% /3);
}
.card{
    height: 1000px;
}
.billing{
    margin-bottom: 40px;
    margin-right:50px;
}
.team{
    height: 45px;
}
.padding-0-40px{
    padding: 40px 0;
}
.partner-dropbox-left{
    
    flex-basis: 60%;
    height: 100px;
}
.partner-dropbox-right{
    
    flex-basis: 40%;
    height: 100px;
}
.margin-top-partner-dropbox{
    margin-top: 20px;
}
.row-db-businnes{
    display: flex;
    flex-wrap: wrap;
}
.column-db-businnes{
    min-height: 200px;
    flex-basis: calc(100% /3)
}
.card-db-businnes{
    
    height: 200px;
}
.margin-bottom-db-businnes{
    margin-bottom: 80px;
}
.square{
    
    width: calc(100vw / 3);
    height:calc(100vw / 3) ;
    flex-wrap: wrap;
}
.small-square{
    flex-basis:50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    
}
.smaller-container-left{
    
    width: 50%;
}
.smaller-container-right{
    
    flex-basis: 50%;
    flex-direction: row-reverse;
}
.h-60{
    height: 60px;
}
.padding-15-45{
    pad: 15px 45px;
}
.ul-footer{
    flex-basis: calc(100% / 5);
}
.m-b-100{
    margin-bottom: 100px;
}
.m-t-50{
    margin-top: 50px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-0{
    margin-top: 0px;
}
.m-left-20{
    margin-left: 20px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-50{
    margin-bottom: 50px;
}
.m-b-74{
    margin-bottom: 74px;
}
.m-l-20{
    margin-left: 20px;
}
.m-r-20{
    margin-right: 20px;
}
.chekb-b{
    border: 3px solid #0061FF;
    border-radius: 50%; 
    color:transparent ;
}
.chekb-g{
    border: 3px solid lightgray;
    border-radius: 50%;
    color:transparent ;
}
.border-gray{
    border: 1px solid #D0D0D3;
}
.border-gray-bottom{
    border-bottom: 1px solid #D0D0D3;
}

.color-lgrey{
    color: lightgray;
}
.wrap{
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.width-55{
    width: 55px;
}
.c-lightblue{
 color: #187FFF;
}